<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Blimp</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="{{url_for('static',filename='blimp.ico')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='anoceanofsky.css')}}"/>
<script src="{{url_for('static', filename='facebook_chat.js')}}"></script>
<title>Blimp</title>
</head>

<body><!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="225036148294010"
  theme_color="#ffc300"
  logged_in_greeting="Hi! Drop me a msg. "
  logged_out_greeting="Hi! Drop me a msg. ">
</div>

    <div id="page">
        <div class="topNaviagationLink"><a href="/">Home</a></div>
        <div class="topNaviagationLink"><a href="/module/python">Python-PIP</a></div>
        <div class="topNaviagationLink"><a href="/module/node">Node-NPM</a></div>
        <div class="topNaviagationLink"><a href="/privacy_policy">Privacy Policy</a></div>
	</div>
    <div id="mainPicture">
    	<div class="picture">
        	<div id="headerTitle">Blimp</div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
        <div id="footer"><a href="http://www.aszx.net">web development</a> by <a href="http://www.bryantsmith.com">bryant smith</a></div>

</body>
</html>
