{% extends 'base.html' %}
{% block content %}
<div class="contentBox">
        <div class="innerBox">
            <h2><div class="contentTitle"><p class="bigfont">What is Blimp?</p></div></h2>
            <div class="contentText"><br />
        <p>
        <ul class="averagefont">
            Blimp is a customizable wormhole (chatbot) that we’ve built for you. On one end of the wormhole is your Messenger app and at the other end is a unique URL that will be provided to you when you message our messenger bot. Every time your URL is hit with a GET/POST request, our wormhole sends data in JSON to your Messenger. <br> Can be used as a testing API endpoing. Logging modules are available for <a href="/module/node" target="_blank">Node</a> and <a href="/module/python" target="_blank">python</a>. So what are you waiting for? 
            <h4>Ping our messenger bot and start blimping by clicking <a href="https://m.me/viablimp" target="_blank" >Here</a></h4>
            <br><br>
            <h4>Some use cases ..</h4>
            <ul>
                <li>Well if you want to see the logs of the deployed code. Then you have to vm into the machine. And then see the logs. Why not just imbibe the logger and see on messenger.</li>
                <li>Also in scraping some websites which takes 1-24 hours. You can get messages on your phone (messenger) when you are out and code is running on lappy at room, for any error in it or getting the stats.</li>
                <li>API testing endpoint! Need to check if requests are being made the right way, you have a unique testing url.</li>
            </ul>
            <h4>Instead of choosing logging on console, you can get the same on your phone!</h4>
        </ul>
        

        
        
        <div class="contentTitle"><p class="averagefont">Blimp Screenshot on GET request with params=<br>{<br>&nbsp;'ticketId':2013221,<br>&nbsp;'userId':"BMS332"<br>}</p></div>
            
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{url_for('static',filename='blimp_chatbot_screenshot.png')}}" height=370 width=200>
        </p>
          </div>
</div>
{% endblock %}