{% extends 'base.html' %}
{% block content %}
<div class="contentBox">
        <div class="innerBox">
            <h2><div class="contentTitle"><p class="bigfont">What is Blimp?</p></div></h2>
            <div class="contentText"><br />
        <p>
        <ul class="averagefont">
            <li>Blimp is a chatbot.</li>
            <li>Blimp provides you a unique URL when you message the bot.</li> 
            <li>This unique url when hit with any data (GET/POST request) messages you the data in json on your fb account.</li>
            <li>Imagine this to be a wormhole! Anything you do with the url, the message is sent by you on your phone messenger account. </li>
            <li>Also can be used as a testing API endpoint.</li>
            <li>Logging Module coming up on npm and pip</li>
        </ul>
        

        
        
        <div class="contentTitle"><p class="averagefont">Blimp Screenshot on GET request with params=<br>{<br>&nbsp;'ticketId':2013221,<br>&nbsp;'userId':"BMS332"<br>}</p></div>
            
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{url_for('static',filename='blimp_chatbot_screenshot.png')}}" height=370 width=200>
        </p>
          </div>
</div>
{% endblock %}