{% extends 'base.html' %}
{% block content %}
<div class="contentBox">
        <div class="innerBox">
            <div class="contentTitle">Blimp's Privacy policy</div>
            <div class="contentText">
           <br><br>
          <p>We recognize that your privacy is very important and take it seriously. This Privacy Policy describes 's policies and procedures on the collection, use and disclosure of your information when you use the services, websites, and applications offered by  (the "Services"). By using the Services, you consent to our use of your information in accordance with this Privacy Policy. We will not use or share your personal information with anyone except as described in this Privacy Policy. This Privacy Policy does not apply to personal information we collect by other means (including offline) or from other sources. Information We Collect and How We Use It :</p><br>
          <p> uses personal information we collect to provide the Services, personalize content, remember information to help you efficiently access your account, analyze how the Services are used, diagnose service or technical problems, maintain security, monitor aggregate metrics such as total number of visitors, traffic, and demographic patterns, and track user Content and users as necessary to comply with the Digital Millennium Copyright Act and other applicable laws. Information we collect from businesses include email id, business name. Information we collect from end-user include facebook account details, profile picture, first and last name, demographic information as provided by Facebook, chat history of the user in Facebook Messenger.</p><br>
          <p>We do not share this information with any third party services.</p><br>
          <p> uses industry-standard physical, managerial, and technical safeguards to preserve the integrity and security of your personal information. We cannot, however, ensure or warrant the security of any information you transmit to  or guarantee that your information on the Services may not be accessed, disclosed, altered, or destroyed by a breach of any of our physical, managerial, or technical safeguards.</p><br>
          <p>In the event that personal information is compromised as a result of such a breach of security,  will promptly notify those persons whose personal information has been compromised, in accordance with the notification procedures set forth in this Privacy Policy, or as otherwise required by applicable law.</p><br>	
            </div>
           </div>
           </div>

{% endblock %}